<!-- first navbar -->
<nav class="navbar navbar-expand-lg sticky-top navbar-dark" >
  <div class="container-fluid">
    <div class="navbar-brand ms-2"><img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThSmfMoRvAprDykNqxtyb2lMeQMmI39th9ZNmgDAGDfmVU_kPkmwGWniZWGeWmpYs9xBM&usqp=CAU"
        width="30px" height="30px" alt=""> AMAZE</div>
    <button class="btn navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapse">
      <ul class="navbar-nav">
        <li class="nav-item me-5">
          <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-geo-alt"></i> Hello <br><span
              style="font-weight: bold;">Select your address</span></a>
        </li>
        <form class="d-flex me-5">
          <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search"><button
            class="btn btn-warning"><i class="bi bi-search"></i></button>
        </form>
        <div class="nav-item">
          <button class="btn dropdown-toggle me-5" data-bs-toggle="dropdown" data-bs-target="#dropdown"><img
              src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png"
              width="40px" height="30px" alt=""></button>
          <ul class="dropdown-menu" id="dropdown">
            <li class="dropdown-item">English - EN</li>
          </ul>
        </div>
        <li class="nav-item me-5">
          <a href="#" class="nav-link">Hello, Sign in <br><span class="dropdown-toggle" data-bs-toggle="dropdown"
              style="font-weight: bold;">Account & Lists</span></a>
        </li>
        <li class="nav-item me-5">
          <a href="#" class="nav-link">Returns <br><span style="font-weight: bold;">& Orders</span></a>
        </li>
        <li class="nav-item">
          <button class="btn nav-link h-100 w-100"><i class="bi bi-cart">CART</i></button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- second navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="navbar-brand">Categories</div>
    <button class="navbar-toggler btn" data-bs-target="#collapse2" data-bs-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapse2">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link"><span class="navbar-toggler-icon"></span> All</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Best Sellers</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Mobiles</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">TOday's Deals</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Customer Service</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Electronics</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Prime</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Fashion</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">New Releases</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Home & Kitchen</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Amazon Pay</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Books</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Computers</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Coupons</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Gift Cards</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Toys & Games</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Sell</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- carousel-1 -->
<div id="carouselExampleIndicators" class="carousel carouselheight slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://m.media-amazon.com/images/I/714lDm8-0BL._SX3000_.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://m.media-amazon.com/images/I/71BIdOuKfwL._SX3000_.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://m.media-amazon.com/images/I/71yRYk+qZ-L._SX3000_.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://m.media-amazon.com/images/I/81ZWb5yMKPL._SX3000_.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://m.media-amazon.com/images/I/710AUvJYSCL._SX3000_.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>

<!-- card-grid-1 -->
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
  <div class="col mt-3" *ngFor="let obj of firstcardgrid">
    <div class="card p-4 h-100">
      <h2 class="card-title">{{obj.titel}}</h2>
      <img src="{{obj.Image}}" class="h-100" alt="">
      <div class="card-body">
        <button class="btn btn-warning">{{obj.footer}}</button>
      </div>
    </div>
  </div>
  <div class="col">
   <div class="card p-4 h-100">
     <div class="card-title text-center mb-4"><h1>Sign in for your best experience</h1></div>
    <img src="../assets/undraw_sign_in.svg" alt="">
    <div class="card-body">
      <button class="btn btn-warning mt-5 p-2 w-75 mx-auto d-block">SIGN IN</button>
    </div>
   </div>
  </div>
</div>

<!-- 2nd card-grid -->
<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
  <div class="col mt-3">
    <app-products [data]=pocketfriendly>
      <h2 head>Up to 50% off | Pocketfriendly Items</h2>
    </app-products>
  </div>
  <div class="col mt-3">
    <app-products [data]=toysbooks>
      <h2 head> Up to 70% off | Grooming & Toys</h2>
    </app-products>
  </div>
  <div class="col mt-3">
    <app-products [data]=dailyessentials>
      <h2 head> Up to 60% off | Foods & Grocery</h2>
    </app-products>
  </div>
  <div class="col mt-3">
    <app-products [data]=Kithcenessentials>
      <h2 head> Up to 30% off | Storage Jars & Cookings Utensils</h2>
    </app-products>
  </div>
</div>

<!-- 1st products carousel -->
<div style="background-color: rgba(255, 255, 255, 0.1);" class="p-3 mt-3">
  <div style="display: flex;" class="my-3">
    <h1 class="heading" style="color: white; ">Blockbuster Deals</h1>
    <button class="btn btn-warning">See all deals</button>
  </div>
  <div id="carousel" class="carousel slide" data-bs-slide="carousel">
    <button data-bs-target="#carousel" class="carousel-control-prev" data-bs-slide="prev" type="button">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button data-bs-target="#carousel" class="carousel-control-next" data-bs-slide="next" type="button">
      <span class="carousel-control-next-icon"></span>
    </button>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <app-carousels [carousel]="firstcarousel"></app-carousels>
      </div>
      <div class="carousel-item ">
        <app-carousels [carousel]="firstcarousel2"></app-carousels>
      </div>
      <div class="carousel-item">
        <app-carousels [carousel]="firstcarousel3"></app-carousels>
      </div>
    </div>
  </div>
</div>


<!-- 3rd card-grid-->
<div class="row row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
  <div class="col mt-3">
    <app-products [data]=handmade>
      <h2 head>Up to 70% off | Handmade by Indian artisans</h2>
    </app-products>
  </div>
  <div class="col mt-3">
    <app-products [data]=bestsellers>
      <h2 head>Up to 70% off | Bestsellers from local shops</h2>
    </app-products>
  </div>
  <div class="col mt-3">
    <app-products [data]=grooming>
      <h2 head>Up to 70% off | At home Grooming & Styling</h2>
    </app-products>
  </div>
  <div class="col mt-3">
    <app-products [data]=furniture>
      <h2 head>Up to 70% off | Furniture & mattresses</h2>
    </app-products>
  </div>
</div>

<!-- 4th card grid -->
<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
  <div class="col mt-3">
    <app-products [data]=pocketfriendly>
      <h2 head>Up to 50% off | Pocketfriendly Items</h2>
    </app-products>
  </div>
  <div class="col mt-3">
    <app-products [data]=toysbooks>
      <h2 head> Up to 70% off | Grooming & Toys</h2>
    </app-products>
  </div>
  <div class="col mt-3">
    <app-products [data]=dailyessentials>
      <h2 head> Up to 60% off | Foods & Grocery</h2>
    </app-products>
  </div>
  <div class="col mt-3">
    <app-products [data]=Kithcenessentials>
      <h2 head> Up to 30% off | Storage Jars & Cookings Utensils</h2>
    </app-products>
  </div>
</div>

<!-- 2nd products carousel -->
<div style="background-color: rgba(255, 255, 255, 0.1);" class="p-3 mt-3">
  <div style="display: flex;" class="my-3">
    <h1 class="heading" style="color: white; ">Up to 60% off on home products | Small businesses</h1>
    <button class="btn btn-warning">See all deals</button>
  </div>
  <div id="carousel2" class="carousel slide" data-bs-slide="carousel">
    <button data-bs-target="#carousel2" class="carousel-control-prev" data-bs-slide="prev" type="button">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button data-bs-target="#carousel2" class="carousel-control-next" data-bs-slide="next" type="button">
      <span class="carousel-control-next-icon"></span>
    </button>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <app-carousels [carousel]="secondcarousel1"></app-carousels>
      </div>
      <div class="carousel-item ">
        <app-carousels [carousel]="secondcarousel2"></app-carousels>
      </div>
      <div class="carousel-item">
        <app-carousels [carousel]="secondcarousel3"></app-carousels>
      </div>
    </div>
  </div>
</div>

<!-- video on amazon -->
<video src="../assets/yt1s.io-Shopping rewards on Amazon _ You have it, you just didn't know it(720p).mp4" controls class="video mx-auto d-block my-3">
</video>


<!-- footer -->
<div style="backdrop-filter: blur(40px);">
  <hr class="text-light">
<p class="display-6 text-light text-center">See personalized recommendations</p>
<button class="btn signinbutton btn-warning w-25 mx-auto d-block">SIGN IN</button>
<p class="display-6  text-light text-center">New customer?a <span class="text-info">Start Here</span></p>
<hr class="text-light">
</div>

<!-- back to top button -->
<button class="btn btn-dark mx-auto d-block w-100 p-3">Back to Top</button>

<!-- felx footer -1 -->
<div style="background-color:rgb(77, 77, 77)">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 text-light footer1 p-3">
    <div class="col">
      <ul style="list-style-type: none;">
        <li style="font-weight: bold;">Get to Know Us</li>
        <li>About Us</li>
        <li>Careers</li>
        <li>Press Releases</li>
        <li>Amaze Cares</li>
        <li>Gift a Smile</li>
      </ul>
    </div>
    <div class="col">
      <ul style="list-style-type: none;">
        <li style="font-weight: bold;"> Connect with Us</li>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
      </ul>
    </div>
    <div class="col">
      <ul style="list-style-type: none;">
        <li style="font-weight: bold;">Make Money With Us</li>
        <li>Sell on Amaze</li>
        <li>Sell under Amaze Accelerator</li>
        <li>Amaze Global Selling</li>
        <li>Become an Affiliate</li>
        <li>Fullfilment By Amaze</li>
        <li>Advertise Your Products</li>
        <li>Amaze Pay on Merchants</li>
      </ul>
    </div>
    <div class="col">
      <ul style="list-style-type: none;">
        <li style="font-weight: bold;">Let Us Help You</li>
        <li>COVID-19 and Amaze</li>
        <li>Your Accont</li>
        <li>Returns Center</li>
        <li>100% Purchase Protection</li>
        <li>Amaze App Download</li>
        <li>Amaze Assistant Download</li>
        <li>Help</li>
      </ul>
    </div>
  </div>
  <hr class="text-light">
  <div style="display: flex; justify-content: space-evenly;">
    <img src="../assets/png.png" width="20%" height="20%" alt="">
    <button class="btn text-light w-25"><i class="bi bi-globe"></i> English</button>
  </div>
  <div class="states mt-3">
    <p>Australia</p>
    <p>Brazil</p>
    <p>Canada</p>
    <p>China</p>
    <p>France</p>
    <p>Germany</p>
    <p>Italy</p>
    <p>Japan</p>
    <p>Mexico</p>
    <p>Netherlands</p>
    <p>Poland</p>
    <p>Singapore</p>
    <p>Spain</p>
    <p>Turkey</p>
    <p>United Arab Emirates</p>
    <p>United Kingdom</p>
    <p>United States</p>
  </div>
</div>


<!-- footer-2 -->
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 text-light p-3"
  style="background-color:rgb(14, 13, 13)">
  <div class="col">
    <ul style="list-style-type: none;">
      <li style="font-weight: bold;">AbeBooks</li>
      <li>Books, art <br>& collections</li>
      <li style="font-weight: bold;">Shopbop</li>
      <li>Designer</li>
      <li>Fashion Brands</li>
    </ul>
  </div>
  <div class="col">
    <ul style="list-style-type: none;">
      <li style="font-weight: bold;">Amaze Web Services</li>
      <li>Scalable Cloud</li>
      <li>Computing Services</li>
      <li style="font-weight: bold;">Amaze Business</li>
      <li>Everything For <br> Your Business</li>
    </ul>
  </div>
  <div class="col">
    <ul style="list-style-type: none;">
      <li style="font-weight: bold;">Audible</li>
      <li>Download</li>
      <li>Audio Books</li>
      <li style="font-weight: bold;">Prime Now</li>
      <li>2-Hour Delivery <br> on Everyday Items</li>
    </ul>
  </div>
  <div class="col">
    <ul style="list-style-type: none;">
      <li style="font-weight: bold;">DPReview</li>
      <li>Digital</li>
      <li>Photography</li>
      <li style="font-weight: bold;">Amaze prime Music</li>
      <li>75 Million songs, ad-free <br> Over 10 million podCast Episodes</li>
    </ul>
  </div>
  <div class="col">
    <ul style="list-style-type: none;">
      <Li style="font-weight: bold;">IMDb</Li>
      <li>Movies, TV <br>& Celebrities</li>
    </ul>
  </div>
</div>

<div class="states p-4">
  <p class="states1">Conditions of Use & Sale</p>
  <p class="states1"> Privacy Notice</p>
  <p class="states1">Interest-Based Ads</p>
  <p class="states1"> 1996-2022, Amaze.com,Inc. or its affiliates</p>
</div>